<!-- Start of contact section
		============================================= -->
		<section id="contact-page" class="contact-page-section" style="padding-top: 125px;">
			<div class="container">
				<div class="section-title mb45 headline text-center">
					<span class="subtitle text-uppercase">Escribe tu mensaje</span>
					<h2>Suscríbete<span> y sígueme.</span></h2>
				</div>
				<div class="social-contact">
					
					
					<div class="category-icon-title text-center" style="width: 30%;">
						<div class="category-icon">
							<a href="https://www.facebook.com/manuelramosblog" target="_blank"><i class="text-gradiant fab fa-facebook-f"></i></a>
						</div>
						<div class="category-title">
							<h4>Facebbok</h4>
						</div>
					</div>
					<div class="category-icon-title text-center" style="width: 30%;">
						<div class="category-icon">
							<a  href="https://t.me/manuelramosblog" target="_blank"><i class="text-gradiant fab fa-youtube"></i></a>
						</div>
						<div class="category-title">
							<h4>Youtube</h4>
						</div>
					</div>
					<div class="category-icon-title text-center" style="width: 30%;">
						<div class="category-icon">
							<a href="https://t.me/manuelramosblog" target="_blank"> <i class="text-gradiant fab fa-telegram"></i></a>
						</div>
						<div class="category-title">
							 <h4>Telegram</h4>
						</div>
					</div>
					
				</div>
			</div>
		</section>
	<!-- End of contact section
		============================================= -->

	<!-- Start of contact area form
		============================================= -->
		<section id="contact-form" class="contact-form-area_3 contact-page-version">
			<div class="container">
				<div class="section-title mb45 headline text-center">
					<span class="subtitle text-uppercase">¿Tiene dudas?</span>
					<h2>Enviame<span> un mensaje.</span></h2>
				</div>
				
				<div class="contact_third_form">
					<form class="contact_form" action="contact.html#" method="POST" enctype="multipart/form-data">
						<div class="row">
							<div class="col-md-4">
								<div class="contact-info">
									<input class="name" name="name" type="text" placeholder="Tu nombre.">
								</div>
							</div>
							<div class="col-md-4">
								<div class="contact-info">
									<input class="email" name="email" type="email" placeholder="Tu Email">
								</div>
							</div>
							<div class="col-md-4">
								<div class="contact-info">
									<input class="number" name="number" type="number" placeholder="Numero telefonico">
								</div>
							</div>
						</div>
						<textarea  placeholder="Mensaje."></textarea>
						<div class="nws-button text-center  gradient-bg text-uppercase">
							<button type="submit" value="Submit">Enviar mensaje <i class="fas fa-caret-right"></i></button> 
						</div>
					</form>
				</div>
			</div>
		</section>
	<!-- End of contact area form
		============================================= -->