<div class="contact-area mb-60px">
        <div class="container">
            <div class="contact-map mb-10">
                <!-- <div id="map"></div> -->
            </div>
            <div class="custom-row-2">
                
                <div class="col-lg-4 col-md-5 mb-lm-60px col-sm-12 col-xs-12 w-sm-100">
                    
                    <div class="contact-info-wrap">
                       <!--  <div class="contact-title mb-30">
                            <h4>Ubicanos y contactanos</h4>
                        </div> -->
                        <div class="single-contact-info">
                            <div class="contact-icon">
                                <i class="ion-android-call"></i>
                            </div>
                            <div class="contact-info-dec">
                                <h5>Oficina</h5>
                                <p> 
                                <li><a href="tel://02435560297">0243-5560297</a></li>
                                </p>
                            </div>
                        </div>
                        <div class="single-contact-info">
                            <div class="contact-icon">
                                <i class="icon-phone-incoming"></i>
                            </div>
                            <div class="contact-info-dec">
                                
                                <h5>Ventas</h5> 
                                <p>
                                <li><a href="tel://0424-3519027">0424-3519027</a></li>
                                <li><a href="tel://0424-3519027">0414-5884629</a></li>
                                <li><a href="tel://0424-3519027">+1 (786) 653-2161</a></li>
                                </p>
                            </div>
                        </div>
                         <div class="single-contact-info">
                            <div class="contact-icon">
                                <i class="icon-phone-forwarded"></i>
                            </div>
                            <div class="contact-info-dec">
                                
                                <h5>Soporte Técnico</h5> 
                                <p>
                                <li><a href="tel://04243271919">0424-3271919</a></li>
                                <li><a href="tel://04243271919">0424-3318616</a></li>
                                </p>
                            </div>
                        </div>
                        <div class="single-contact-info">
                            <div class="contact-icon">
                                <i class="ion-android-globe"></i>
                            </div>
                            <div class="contact-info-dec">
                                <h5>Email</h5>
                                <p><a href="mailto://css@gmail.com">css@gmail.com</a></p>
                                
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12">
                    <div class="contact-form">
                        <div class="contact-title mb-30">
                            <h2>Dejanos un mensaje</h2>
                        </div>
                        <form class="contact-form-style" id="contact-form" action="https://live.hasthemes.com/html/5/sharma-preview/sharma/assets/php/mail.php" method="post">
                            <div class="row">
                                <div class="col-lg-4">
                                    <input name="name" placeholder="Nombre*" type="text" />
                                </div>
                                <div class="col-lg-4">
                                    <input name="email" placeholder="Email*" type="email" />
                                </div>
                                <div class="col-lg-4">
                                    <input name="subject" placeholder="Asunto*" type="text" />
                                </div>
                                <div class="col-lg-12">
                                    <textarea name="message" placeholder="Tu mensaje*"></textarea>
                                    <button class="submit" type="submit">Enviar</button>
                                </div>
                            </div>
                        </form>
                        <p class="form-messege"></p>
                    </div>
                </div>
            </div>
            <div class="custom-row-2">
                
                <div class="col-lg-5 col-md-5 mb-lm-60px col-sm-12 col-xs-12 w-sm-100">
                    
                    <div class="contact-info-wrap">
                       
                        
                        <div class="single-contact-info">
                            <div class="contact-icon">
                                <i class="fa fa-store-alt"></i>
                            </div>
                            <div class="contact-info-dec">
                                <h5>Dirección comercial</h5>
                                <p>Calle Carabobo sur N° 87 ,sector Santa Rosa. Punto de Referencia: Frente a la plaza españa.</p>
                                
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 mb-lm-60px col-sm-12 col-xs-12 w-sm-100">
                    
                    <div class="contact-info-wrap">

                        <div class="single-contact-info">
                            <div class="contact-icon">
                                <i class="ion-android-pin"></i>
                            </div>
                            <div class="contact-info-dec">
                                <h5>Dirección Fiscal</h5>
                                
                                <p>Av. principal de Gonzalito, Galpon N°63 Barrio 19 de Abril. Sector Guerito Turmero Edo-Aragua.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 mb-lm-60px col-sm-12 col-xs-12 w-sm-100">
                    
                    <div class="contact-info-wrap">

                        <div class="contact-social">
                            <h5>Siguenos</h5>
                            <div class="social-info">
                                <ul>
                                    
                                    <li>
                                        <a href="https://www.instagram.com/css.ca/?hl=es-la" target="_blank"><i class="ion-social-instagram"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                
            </div>   
        </div>
</div>
