
<app-shadislider></app-shadislider>
<!-- <app-shadimostwanted></app-shadimostwanted> -->
<app-shadibanner></app-shadibanner>
 <div class="custom-block-area">
    <div class="container">
        <div class="row" >
			<app-shadidiscount class="col-lg-8 col-md-8 mb-md-60px"></app-shadidiscount>
			<app-shadibestseller  class="col-lg-4 col-md-4"> </app-shadibestseller>
  		</div>
	</div>
</div>
<!-- <app-shadibestseller></app-shadibestseller> -->

<app-shadistatic></app-shadistatic>    



        
        



   