        <!-- Custom Block Area Start -->


         <div class="best-sell-area">
                            <div class="section-title">
                                <h2><span> LOS MAS  </span> VENDIDOS</h2>
                            </div>
                            <div class="best-sell-slider-wrapper bg-white slider-nav-style-1">
                                <div class="best-sell-slider-item">
                                    <article class="list-product text-left">
                                        <div class="product-inner">
                                            <div class="img-block">
                                                <a routerLink="shadishop"
                                                class="thumbnail">
                                                    <img class="first-img" src="assets/assetsshadi/images/product-image/11.jpg" alt="" />
                                                    <img class="second-img" src="assets/assetsshadi/images/product-image/11.jpg" alt="" />
                                                </a>
                                            </div>
                                            <div class="product-decs">
                                                <h2><a href="single-product.html" class="product-link">Roush Performance Front Brake Rotor</a></h2>
                                                <div class="rating-product">
                                                    <i class="ion-android-star"></i>
                                                    <i class="ion-android-star"></i>
                                                    <i class="ion-android-star color-gray"></i>
                                                    <i class="ion-android-star color-gray"></i>
                                                    <i class="ion-android-star color-gray"></i>
                                                </div>
                                                <div class="pricing-meta">
                                                    <ul>
                                                        <li class="current-price">$53.28</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                    <article class="list-product text-left">
                                        <div class="product-inner">
                                            <div class="img-block">
                                                <a href="single-product.html" class="thumbnail">
                                                    <img class="first-img" src="assets/assetsshadi/images/product-image/12.jpg" alt="" />
                                                    <img class="second-img" src="assets/assetsshadi/images/product-image/12.jpg" alt="" />
                                                </a>
                                            </div>
                                            <div class="product-decs">
                                                <h2><a href="single-product.html" class="product-link">Koss Porta Pro On Ear  Headphones </a></h2>
                                                <div class="rating-product">
                                                    <i class="ion-android-star"></i>
                                                    <i class="ion-android-star"></i>
                                                    <i class="ion-android-star"></i>
                                                    <i class="ion-android-star"></i>
                                                    <i class="ion-android-star"></i>
                                                </div>
                                                <div class="pricing-meta">
                                                    <ul>
                                                        <li class="current-price">$60.28</li>
                                                        <li class="old-price">$64.28</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                    <article class="list-product text-left">
                                        <div class="product-inner">
                                            <div class="img-block">
                                                <a href="single-product.html" class="thumbnail">
                                                    <img class="first-img" src="assets/assetsshadi/images/product-image/16.jpg" alt="" />
                                                    <img class="second-img" src="assets/assetsshadi/images/product-image/16.jpg" alt="" />
                                                </a>
                                            </div>
                                            <div class="product-decs">
                                                <h2><a href="single-product.html" class="product-link">Bose SoundLink Micro  Bluetooth Speaker</a></h2>
                                                <div class="rating-product">
                                                    <i class="ion-android-star"></i>
                                                    <i class="ion-android-star"></i>
                                                    <i class="ion-android-star"></i>
                                                    <i class="ion-android-star"></i>
                                                    <i class="ion-android-star"></i>
                                                </div>
                                                <div class="pricing-meta">
                                                    <ul>
                                                        <li class="current-price">$53.28</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                    <article class="list-product text-left">
                                        <div class="product-inner">
                                            <div class="img-block">
                                                <a href="single-product.html" class="thumbnail">
                                                    <img class="first-img" src="assets/assetsshadi/images/product-image/10.jpg" alt="" />
                                                    <img class="second-img" src="assets/assetsshadi/images/product-image/10.jpg" alt="" />
                                                </a>
                                            </div>
                                            <div class="product-decs">
                                                <h2><a href="single-product.html" class="product-link">Sony KD55X72 55-Inch  4k Ultra HD</a></h2>
                                                <div class="rating-product">
                                                    <i class="ion-android-star"></i>
                                                    <i class="ion-android-star"></i>
                                                    <i class="ion-android-star"></i>
                                                    <i class="ion-android-star"></i>
                                                    <i class="ion-android-star"></i>
                                                </div>
                                                <div class="pricing-meta">
                                                    <ul>
                                                        <li class="current-price">$59.00</li>
                                                        <li class="old-price">$60.28</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <div class="best-sell-slider-item">
                                    <article class="list-product text-left">
                                        <div class="product-inner">
                                            <div class="img-block">
                                                <a href="single-product.html" class="thumbnail">
                                                    <img class="first-img" src="assets/assetsshadi/images/product-image/14.jpg" alt="" />
                                                    <img class="second-img" src="assets/assetsshadi/images/product-image/14.jpg" alt="" />
                                                </a>
                                            </div>
                                            <div class="product-decs">
                                                <h2><a href="single-product.html" class="product-link">Apple iPad with Retina  Display MD510LL/A </a></h2>
                                                <div class="rating-product">
                                                    <i class="ion-android-star color-gray"></i>
                                                    <i class="ion-android-star color-gray"></i>
                                                    <i class="ion-android-star color-gray"></i>
                                                    <i class="ion-android-star color-gray"></i>
                                                    <i class="ion-android-star color-gray"></i>
                                                </div>
                                                <div class="pricing-meta">
                                                    <ul>
                                                        <li class="current-price">$53.28</li>
                                                        <li class="old-price">$59.28</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                    <article class="list-product text-left">
                                        <div class="product-inner">
                                            <div class="img-block">
                                                <a href="single-product.html" class="thumbnail">
                                                    <img class="first-img" src="assets/assetsshadi/images/product-image/9.jpg" alt="" />
                                                    <img class="second-img" src="assets/assetsshadi/images/product-image/9.jpg" alt="" />
                                                </a>
                                            </div>
                                            <div class="product-decs">
                                                <h2><a href="single-product.html" class="product-link">Beats EP Wired On-Ear  Headphone-Black</a></h2>
                                                <div class="rating-product">
                                                    <i class="ion-android-star"></i>
                                                    <i class="ion-android-star"></i>
                                                    <i class="ion-android-star"></i>
                                                    <i class="ion-android-star color-gray"></i>
                                                    <i class="ion-android-star color-gray"></i>
                                                </div>
                                                <div class="pricing-meta">
                                                    <ul>
                                                        <li class="current-price">$53.28</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                    <article class="list-product text-left">
                                        <div class="product-inner">
                                            <div class="img-block">
                                                <a href="single-product.html" class="thumbnail">
                                                    <img class="first-img" src="assets/assetsshadi/images/product-image/13.jpg" alt="" />
                                                    <img class="second-img" src="assets/assetsshadi/images/product-image/13.jpg" alt="" />
                                                </a>
                                            </div>
                                            <div class="product-decs">
                                                <h2><a href="single-product.html" class="product-link">Amazon Cloud Cam  Security Camera</a></h2>
                                                <div class="rating-product">
                                                    <i class="ion-android-star"></i>
                                                    <i class="ion-android-star"></i>
                                                    <i class="ion-android-star"></i>
                                                    <i class="ion-android-star"></i>
                                                    <i class="ion-android-star color-gray"></i>
                                                </div>
                                                <div class="pricing-meta">
                                                    <ul>
                                                        <li class="current-price">$45.28</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                    <article class="list-product text-left">
                                        <div class="product-inner">
                                            <div class="img-block">
                                                <a href="single-product.html" class="thumbnail">
                                                    <img class="first-img" src="assets/assetsshadi/images/product-image/17.jpg" alt="" />
                                                    <img class="second-img" src="assets/assetsshadi/images/product-image/17.jpg" alt="" />
                                                </a>
                                            </div>
                                            <div class="product-decs">
                                                <h2><a href="single-product.html" class="product-link">Beats Solo2 Solo 2  Wired On-Ear Headphone</a></h2>
                                                <div class="rating-product">
                                                    <i class="ion-android-star"></i>
                                                    <i class="ion-android-star"></i>
                                                    <i class="ion-android-star color-gray"></i>
                                                    <i class="ion-android-star color-gray"></i>
                                                    <i class="ion-android-star color-gray"></i>
                                                </div>
                                                <div class="pricing-meta">
                                                    <ul>
                                                        <li class="current-price">$453.28</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <div class="best-sell-slider-item">
                                    <article class="list-product text-left">
                                        <div class="product-inner">
                                            <div class="img-block">
                                                <a href="single-product.html" class="thumbnail">
                                                    <img class="first-img" src="assets/assetsshadi/images/product-image/6.jpg" alt="" />
                                                    <img class="second-img" src="assets/assetsshadi/images/product-image/7.jpg" alt="" />
                                                </a>
                                            </div>
                                            <div class="product-decs">
                                                <h2><a href="single-product.html" class="product-link">Nokia Steel HR Hybrid  Smartwatch</a></h2>
                                                <div class="rating-product">
                                                    <i class="ion-android-star"></i>
                                                    <i class="ion-android-star"></i>
                                                    <i class="ion-android-star"></i>
                                                    <i class="ion-android-star"></i>
                                                    <i class="ion-android-star"></i>
                                                </div>
                                                <div class="pricing-meta">
                                                    <ul>
                                                        <li class="current-price">$78.28</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                    <article class="list-product text-left">
                                        <div class="product-inner">
                                            <div class="img-block">
                                                <a href="single-product.html" class="thumbnail">
                                                    <img class="first-img" src="assets/assetsshadi/images/product-image/4.jpg" alt="" />
                                                    <img class="second-img" src="assets/assetsshadi/images/product-image/3.jpg" alt="" />
                                                </a>
                                            </div>
                                            <div class="product-decs">
                                                <h2><a href="single-product.html" class="product-link">Bose SoundLink Micro  Bluetooth Speaker 2</a></h2>
                                                <div class="rating-product">
                                                    <i class="ion-android-star"></i>
                                                    <i class="ion-android-star"></i>
                                                    <i class="ion-android-star"></i>
                                                    <i class="ion-android-star color-gray"></i>
                                                    <i class="ion-android-star color-gray"></i>
                                                </div>
                                                <div class="pricing-meta">
                                                    <ul>
                                                        <li class="current-price">$153.28</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                    <article class="list-product text-left">
                                        <div class="product-inner">
                                            <div class="img-block">
                                                <a href="single-product.html" class="thumbnail">
                                                    <img class="first-img" src="assets/assetsshadi/images/product-image/18.jpg" alt="" />
                                                    <img class="second-img" src="assets/assetsshadi/images/product-image/17.jpg" alt="" />
                                                </a>
                                            </div>
                                            <div class="product-decs">
                                                <h2><a href="single-product.html" class="product-link">Beats Solo3 Wireless  On-Ear Headphones</a></h2>
                                                <div class="rating-product">
                                                    <i class="ion-android-star"></i>
                                                    <i class="ion-android-star"></i>
                                                    <i class="ion-android-star"></i>
                                                    <i class="ion-android-star"></i>
                                                    <i class="ion-android-star color-gray"></i>
                                                </div>
                                                <div class="pricing-meta">
                                                    <ul>
                                                        <li class="current-price">$45.28</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                    <article class="list-product text-left">
                                        <div class="product-inner">
                                            <div class="img-block">
                                                <a href="single-product.html" class="thumbnail">
                                                    <img class="first-img" src="assets/assetsshadi/images/product-image/2.jpg" alt="" />
                                                    <img class="second-img" src="assets/assetsshadi/images/product-image/3.jpg" alt="" />
                                                </a>
                                            </div>
                                            <div class="product-decs">
                                                <h2><a href="single-product.html" class="product-link">Kodak PIXPRO Astro  Zoom AZ421 16 MP 2</a></h2>
                                                <div class="rating-product">
                                                    <i class="ion-android-star"></i>
                                                    <i class="ion-android-star"></i>
                                                    <i class="ion-android-star"></i>
                                                    <i class="ion-android-star color-gray"></i>
                                                    <i class="ion-android-star color-gray"></i>
                                                </div>
                                                <div class="pricing-meta">
                                                    <ul>
                                                        <li class="current-price">$73.28</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>