<section id="search-course" class="search-course-section home-secound-course-search backgroud-style" style="padding-top: 170px;     margin-bottom: 20px; padding-block-end: 100px;">
	<div class="container">
		<div class="section-title mb20 headline text-center">
			<span class="subtitle text-uppercase">Una pregunta antes de empezar.</span>
			<h3 style="color: white; padding-top: 8px;"> <span>Hablando</span> de los negocios por internet, ¿cual es el mayor obstáculo que tienes?</h3>
			
			<h4 style="color: white; padding-top: 17px;">
				Tu respuesta me ayuda a servirte mejor, selecciona una respuesta:
			</h4>

		</div>
		
		<div class="register-form-area search-course mb30 relative-position">
			<form class="contact_form"  enctype="multipart/form-data">
				
			  <div class="text-left mt-5" >
 <!--                <h4>Selected value is {{radioSel.name}}</h4> -->

                <div>
                  <ul class="list-group">
                        <li class="list-group-item"  *ngFor="let item of itemsList">
                          <input type="radio" [(ngModel)]="radioSelected" name="list_name" value="{{item.value}}" (change)="onItemChange(item)" style="width: 20%" /> 
                          <span style="font-size: 25px;">
                          	
                          {{item.name}}
                          </span>
                          
                        </li>
                  </ul>
                </div>

         <!--        <h5>{{radioSelectedString}}</h5> -->

                </div>
                <div style="text-align: center;"  [hidden]="!waiting">
												
				<img src="assets/assetsmanu/img/tenor.gif"	 style="max-height: 32px;max-width: 32px; text-align: center;	">
				<p></p>
				</div>
				<div class=" text-center  gradient-bg text-capitalize" style="right: 34px;" disabled="disabled" [hidden]="!waiting">
					<button (click)="ok()"> <a > Busca tu curso </a> </button> 
				</div> 
				<div class=" text-center  gradient-bg text-capitalize" style="right: 34px;"  [hidden]="waiting">
					<button (click)="ok()"> <a > Busca tu curso </a> </button> 
				</div> 
			</form>
		</div>
		

	</div>
</section>