

    <!-- Start of about us section
        ============================================= -->
        <section id="about-us" class="about-us-section home-secound" style="padding-top:125px;">
            <div class="container">
                <div class="row">
                    <div class="col-md-6"style="text-align: center;">
                        
                            <img src="assets/assetsmanu/img/about/abt.jpg" alt="">
                    </div>
                    <!-- /form -->

                    <div class="col-md-6" id="register">
                        <div class="about-us-text">
                            <div class="section-title relative-position mb20 headline text-left">
                                <span class="subtitle ml42 text-uppercase">Manuel Ramos</span>
                                <h2>El arte de convertir tu <span>audiencia en clientes.</span>
                                </h2>
                                <p style="text-transform: none;">En mi curso 100% GRATIS te enseño a atraer a tu audiencia y vender cualquier producto o servicio que tu quieras.</p>
                            </div>
                            <div class="register-fomr-title text-center">
                                    <h3 class="bold-font">Descubrelo aqui!</h3>
                            </div>
                            <div class="about-content-text" >
                                <div class="register-form-area" >
                                    <form class="contact_form"  [formGroup]="ngFormRegister" (ngSubmit) ="onRegister()"  action="https://email.buckapi.com:3019/landing">
                                 <!--        <div class="contact-info">
                                            <input class="name" name="name" type="text" placeholder="Ingresa tu nombre." style="width: 100%;">
                                        </div>
                                        
                                        <div class="contact-info">
                                            <input class="email" name="email" type="email" placeholder="y tu email." style="width: 100%;">
                                        </div> -->
                                            <div class="form-group ">

                                                <label class="focus-label">Tu nombre</label>
                                                <input type="text" class="form-control " id="name" formControlName="name" placeholder="Nombre" [(ngModel)]="user.name" [ngClass]="{'is-invalid': submitted && fval.name.errors }"required>

                                                <div *ngIf="submitted && fval.name.errors" class="invalid-feedback">
                                                    <div *ngIf="fval.name.errors.required">
                                                    El nombre es requerido
                                                    </div>
                                                 
                                                </div>
                                            </div>

                                         
                                            <div class="form-group ">
                                             
                                                <label class="focus-label">Tu e-mail</label>
                                                    <input type="email" class="form-control " id="email" placeholder="Email" formControlName="email" [(ngModel)]="user.email" required [ngClass]="{ 'is-invalid': submitted && fval.email.errors }">
                                                <div *ngIf="submitted && fval.email.errors" class="invalid-feedback">
                                                    <div *ngIf="fval.email.errors.required">El email es requerido</div>
                                                    <div *ngIf="fval.email.errors.email">Ingrese una dirección de correo valida</div>
                                                </div>
                                            </div>

                                        <div class="checkbox save-credit" align="left">
                                                <label>
                                                    <input type="checkbox" value="" >
                                                    <span class="cr text-uppercase bold-font"><i class="cr-icon fa fa-check"></i></span>
                                                    Acepto las políticas de privacidad

                                                </label>
                                            </div>
                                        
                                        <div class="nws-button text-uppercase text-center white text-capitalize">
                                            <button type="submit" value="Submit" > <a > Comenzar </a> </button> 
                                        </div> 
                                    </form>

                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <!-- End of about us section
        ============================================= -->



    <!-- Start Course category
        ============================================= -->
        <section id="course-category" class="course-category-section" style="background-color: rgb(255 255 255); padding: 125px 0px 80px;">
            <div class="container">
                <div class="section-title mb45 headline text-center "  >
                    <span class="subtitle text-uppercase">Academia mundial de emprendedores</span>
                    <h2>En mi curso GRATIS aprenderas a:</h2>
                </div>
                <div class="category-item">
                    <div class="row">
                        <div class="col-md-4 col-xs-6" style="flex: 0 0 33.333333%;">
                            <div class="category-icon-title text-center "  >
                                <div class="category-icon">
                                    <i class="text-gradiant flaticon-business"></i>
                                </div>
                                <div class="category-title">
                                    <h4>Crea tu embudo de ventas</h4>
                                    <p align="left">Te enseñare a tener presencia online, crear confianza y posicionarte como una autoridad en la mente de tu prospecto</p>
                                </div>
                            </div>
                        </div>
                        <!-- /category -->

                        <div class="col-md-4 col-xs-6" style="flex: 0 0 33.333333%;">
                            <div class="category-icon-title text-center "  >
                                <div class="category-icon">
                                    <i class="text-gradiant flaticon-favorites-button"></i>
                                </div>
                                <div class="category-title">
                                    <h4>Tráfico a tus ofertas</h4>
                                </div>
                                <div class="category-title">
                                    <p align="left">Conoce como generar tráfico gratis usando el SEO para que sean tus prospectos quienes te busquen a ti. Ademas te enseñare el tráfico pagado.</p>
                                </div>
                                
                                
                            </div>
                        </div>
                        <!-- /category -->

                        <div class="col-md-4 col-xs-6" style="flex: 0 0 33.333333%;">
                            <div class="category-icon-title text-center "  >
                                <div class="category-icon">
                                    <i class="text-gradiant flaticon-graduation-hat"></i>
                                </div>
                                <div class="category-title">
                                    <h4>Te enseñare a vender</h4>
                                    
                                </div>
                                <div class="category-title">
                                    <p align="left">Puedes canalizar prospectos a tus ofertas con buenas prácticas y metodos, aquí aprenderas como y cuando usar esas estrategias.</p>
                                </div>
                            </div>

                        </div>
                        <!-- /category -->

                        
                        
                    </div>
                </div>
                <h3>Experimenta la emoción de ganar dinero en <span>INTERNET, incluso si nunca has ganado nada.</span> </h3>
                
                  
                 <div class="about-btn " align="center" >
                    <div class="genius-btn gradient-bg text-center text-uppercase ul-li-block bold-font">
                        <a href="#register">IR AL CURSO GRATIS<i class="fas fa-caret-right"></i></a>
                    </div>
                </div>
            </div>
        </section>
    <!-- End Course category
        ============================================= -->

        <section id="course-teacher" class="course-teacher-section">
            <div class="jarallax">
                <div class="container">
                    <div class="section-title mb20 headline text-center "  >
                        
                        <h2>Traido para ti 100%  <span>GRATIS.</span></h2>
                        <h3><span>cortesía de : Academia Mundial de Emprendedores</span> </h3>
                    </div>

                </div>
            </div>
        </section>

        <section id="about-us" class="about-us-section">
            <div class="container">
                <div class="row">
                   

                    <div class="col-md-12">
                        <div class="about-us-text">
                            <div class="section-title relative-position mb20 headline text-center "  >
                                <span class="subtitle ml42 text-uppercase">Aprende a vender</span>
                                <h2>¿Para quién es este <span>Curso?</span></h2>
                                
                            </div>
                            <div class="about-content-text">
                                
                                <div class="about-list mb65 ul-li-block "  >
                                    <ul>
                                        <li>Si quieres aprender a generar negocios en internet, que te generar ingresos mes a mes.</li>
                                        <li>Si quieres aprender a vender por internet, cualquier producto o servicio de manera profesional.</li>
                                        <li>Si quieres lograr tu independencia financiera y nunca más depender de un salario de un empleo.</li>
                                        <li>Si anteriormente intentaste vender un producto servicio y no lo conseguiste, o tus resultados no son los que esperabas este curso es para ti y 100% GRATIS.</li>
                                    </ul>
                                </div>
                               <div class="about-btn "  align="center">
                                    <div class="genius-btn gradient-bg text-center text-uppercase ul-li-block bold-font">
                                        <a href="#register">Si quiero acceder al curso GRATIS <i class="fas fa-caret-right"></i></a>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
